.userInfo {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .icons {
    position: relative;
    display: flex;    

    img {     
      width: 20px;
      height: 20px;
    }
    .menu .sub-menu{      
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
      padding: 30px;
      border-radius: 5px;
      background-color: rgba(17, 25, 40, 0.7);
      color: white; 
      display: none; 
            
      hr{
        border: none;
        height: 1px;
        background-color: #a4a4a4;
        margin: 8px 0px;
      }

      p{
        cursor: pointer;
        font-size: 14px;          
      }        
    }

    .menu:hover .sub-menu{
      display: block;
    } 
  }
} 

.profile-update-modal {  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;        
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 

  .modal-content {  
    background-color: rgba(17, 25, 40, 0.9);
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 

    .close-btn {
      position: absolute;
      top: -15px;
      right: 5px;        
      background-color: #ff4c4c;
      color: white;
      border: none;
      padding: 8px 12px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 50%;
      z-index: 1100; 
    }
    
    .close-btn:hover {
      background-color: #b85353;
    }
  }

  input, textarea {
    padding: 10px;
    min-width: 300px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      color: gray;
      cursor: pointer;

      img {
        width: 50px;
        height: 50px;          
        border-radius: 50%;
        object-fit: cover;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 500;
    }
  }    
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;    
  gap: 20px;
  padding: 40px;
}

.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;    
  margin: 20px;
}